google-cloud-bigquery==3.27.0
wheel==0.42.0
shellingham==1.5.4
semantic-version==2.10.0
opentelemetry-instrumentation==0.50b0
langchain-text-splitters==0.3.4
opentelemetry-api==1.29.0
coloredlogs==15.0.1
humanfriendly==10.0
executing==2.1.0
hyperframe==6.0.1
pexpect==4.9.0
multitasking==0.0.11
pandas==2.2.3
streamlit-vertical-slider==2.5.5
psycopg-binary==3.2.4
langgraph==0.2.22
tomli==2.2.1
opentelemetry-proto==1.29.0
decorator==5.1.1
importlib_metadata==8.5.0
filelock==3.16.1
idna==3.10
embedchain==0.1.126
h2==4.1.0
marshmallow==3.23.2
traitlets==5.14.3
google-genai==0.3.0
tomli_w==1.1.0
pydub==0.25.1
nest-asyncio==1.6.0
pyasn1_modules==0.4.1
Markdown==3.7
kiwisolver==1.4.8
smmap==5.0.1
pyvis==0.3.2
json_repair==0.34.0
multidict==6.1.0
ptyprocess==0.7.0
llama-cloud==0.1.10
outcome==1.3.0.post0
olefile==0.47
fastapi==0.115.6
prometheus_client==0.21.1
gradio_client==1.6.0
nltk==3.9.1
instructor==1.7.2
huggingface-hub==0.27.1
docx2txt==0.8
lxml==5.3.0
htbuilder==0.7.0
importlib_resources==6.4.5
pip==23.3.1
GitPython==3.1.43
toml==0.10.2
fonttools==4.55.3
protobuf==5.29.2
llama-index-cli==0.4.0
ollama==0.4.7
overrides==7.7.0
parso==0.8.4
webencodings==0.5.1
google-generativeai==0.8.3
uvicorn==0.34.0
uv==0.5.13
opentelemetry-util-http==0.50b0
llama-index-postprocessor-cohere-rerank==0.3.0
ipython==8.31.0
zipp==3.21.0
typer==0.15.1
pydeck==0.9.1
langchain-openai==0.2.14
langgraph-checkpoint==1.0.11
llama-index==0.12.14
google-cloud-resource-manager==1.14.0
entrypoints==0.4
setuptools==75.6.0
schema==0.7.7
flatbuffers==24.12.23
opentelemetry-exporter-otlp-proto-grpc==1.29.0
msgpack==1.1.0
crewai-tools==0.17.0
defusedxml==0.7.1
referencing==0.35.1
googleapis-common-protos==1.66.0
python-magic==0.4.27
pypdfium2==4.30.1
python-oxmsg==0.0.1
selenium==4.27.1
st-annotated-text==4.0.1
graphql-core==3.2.6
requests==2.32.3
frozenlist==1.5.0
openpyxl==3.1.5
httpx-sse==0.4.0
tomlkit==0.13.2
gql==3.5.0
cryptography==43.0.3
opentelemetry-instrumentation-fastapi==0.50b0
shapely==2.0.6
chromadb==0.5.23
gitdb==4.0.11
psycopg==3.2.4
blinker==1.9.0
crewai==0.86.0
soupsieve==2.6
pylance==0.20.0
google-api-core==2.24.0
wrapt==1.17.0
markdown-it-py==3.0.0
pytest==8.3.4
sympy==1.13.3
mypy-extensions==1.0.0
h11==0.14.0
pgvector==0.3.6
plotly==5.24.1
networkx==3.4.2
opentelemetry-sdk==1.29.0
st-theme==1.2.3
llama-index-indices-managed-llama-cloud==0.6.4
llama-index-multi-modal-llms-openai==0.4.2
jedi==0.19.2
emoji==2.14.0
gradio==5.13.1
joblib==1.4.2
et_xmlfile==2.0.0
typing-inspect==0.9.0
langchainhub==0.1.21
llama-index-readers-llama-parse==0.4.0
auth0-python==4.7.2
grpcio==1.68.1
PySocks==1.7.1
jupyter_client==8.6.3
iniconfig==2.0.0
rich==13.9.4
tokenizers==0.20.3
asttokens==3.0.0
opentelemetry-instrumentation-asgi==0.50b0
google-resumable-media==2.7.2
tqdm==4.67.1
uritemplate==4.1.1
urllib3==2.3.0
scikit-learn==1.6.1
google-auth-httplib2==0.2.0
faiss-cpu==1.9.0.post1
Mako==1.3.8
hpack==4.0.0
narwhals==1.19.1
chroma-hnswlib==0.7.6
jsonpatch==1.33
argparse==1.4.0
click==8.1.8
jsonpointer==3.0.0
langchain==0.3.13
pyzmq==26.2.0
appnope==0.1.4
numpy==1.26.4
docstring_parser==0.16
streamlit-extras==0.5.0
streamlit-card==1.0.2
scipy==1.15.1
llama-parse==0.5.20
deepdiff==8.1.1
mem0ai==0.1.38
dirtyjson==1.0.8
kubernetes==31.0.0
appdirs==1.4.4
Faker==33.1.0
llama-index-core==0.12.14
langchain-groq==0.2.2
python-iso639==2024.10.22
tenacity==9.0.0
cffi==1.17.1
aiohttp==3.11.11
jsonschema==4.23.0
openai==1.58.1
google-crc32c==1.6.0
pdfminer.six==20231228
opentelemetry-semantic-conventions==0.50b0
lancedb==0.17.0
propcache==0.2.1
pyasn1==0.6.1
stack-data==0.6.3
Jinja2==3.1.5
cachetools==5.5.0
portalocker==2.10.1
youtube-transcript-api==0.6.3
PyJWT==2.10.1
asgiref==3.8.1
threadpoolctl==3.5.0
llama-index-llms-openai==0.3.14
pypdf==5.1.0
dataclasses-json==0.6.7
oauthlib==3.2.2
phidata==2.7.6
sentence-transformers==3.3.1
langdetect==1.0.9
psutil==6.1.1
jupyter_core==5.7.2
aiofiles==23.2.1
python-dotenv==1.0.1
pyparsing==3.2.0
langchain-community==0.3.13
regex==2024.11.6
pyright==1.1.391
fsspec==2024.12.0
google-cloud-aiplatform==1.75.0
pydantic-settings==2.7.0
sniffio==1.3.1
nodeenv==1.9.1
llama-index-embeddings-openai==0.3.1
jsonpickle==4.0.1
grpcio-status==1.68.1
safetensors==0.5.2
google-cloud-storage==2.19.0
jsonschema-specifications==2024.10.1
matplotlib==3.10.0
mdurl==0.1.2
more-itertools==10.5.0
fastavro==1.10.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
opentelemetry-exporter-otlp-proto-common==1.29.0
build==1.2.2.post1
streamlit-faker==0.0.3
types-requests==2.32.0.20241016
grpcio-tools==1.68.1
pytz==2024.2
sentry-sdk==2.20.0
yarl==1.18.3
charset-normalizer==3.4.1
jsonref==1.1.0
sortedcontainers==2.4.0
rsa==4.9
Deprecated==1.2.15
wcwidth==0.2.13
packaging==24.2
favicon==0.7.0
orjson==3.10.12
chardet==5.2.0
cbor==1.0.0
pillow==11.0.0
langchain-experimental==0.3.4
RapidFuzz==3.11.0
torch==2.2.2
google-ai-generativelanguage==0.6.10
html5lib==1.1
langchain-huggingface==0.1.2
striprtf==0.0.26
pyarrow==18.1.0
streamlit-embedcode==0.1.2
grpc-google-iam-v1==0.13.1
llama-index-question-gen-openai==0.3.0
unstructured==0.16.12
trio-websocket==0.11.1
pydantic_core==2.27.2
parameterized==0.9.0
httpcore==1.0.7
llama-index-readers-file==0.4.4
prompt_toolkit==3.0.48
trio==0.28.0
wandb==0.19.5
pycparser==2.22
cycler==0.12.1
websockets==14.1
pydantic==2.10.4
langchain-google-genai==2.0.7
pluggy==1.5.0
python-multipart==0.0.20
dill==0.3.8
pyown==0.3.0
comm==0.2.2
watchfiles==1.0.3
tiktoken==0.7.0
streamlit-camera-input-live==0.2.0
starlette==0.41.3
google-cloud-core==2.4.1
pymdown-extensions==10.13
markdownlit==0.0.7
pure_eval==0.2.3
pdfplumber==0.11.4
tornado==6.4.2
alembic==1.14.0
streamlit-image-coordinates==0.1.9
deprecation==2.1.0
distro==1.9.0
SQLAlchemy==2.0.37
jiter==0.8.2
MarkupSafe==2.1.5
jsonpath-python==1.0.6
cohere==5.13.4
docker-pycreds==0.4.0
onnxruntime==1.20.1
bcrypt==4.2.1
requests-toolbelt==1.0.0
contourpy==1.3.1
docker==7.1.0
httptools==0.6.4
proto-plus==1.25.0
peewee==3.17.8
bs4==0.0.2
aiosignal==1.3.2
typing_extensions==4.12.2
langchain-core==0.3.28
PyYAML==6.0.2
httpx==0.28.1
rpds-py==0.22.3
duckduckgo_search==7.2.0
attrs==24.3.0
anyio==4.7.0
matplotlib-inline==0.1.7
transformers==4.46.3
sentencepiece==0.2.0
litellm==1.53.3
monotonic==1.6
orderly-set==5.2.3
uuid_utils==0.10.0
backoff==2.2.1
pytube==15.0.0
groq==0.13.1
pdf2image==1.17.0
google-api-python-client==2.156.0
filetype==1.2.0
tzdata==2024.2
yfinance==0.2.51
llama-index-postprocessor-flag-embedding-reranker==0.3.0
langchain-cohere==0.3.4
weave==0.51.32
pyproject_hooks==1.2.0
llama-index-program-openai==0.3.1
llama-index-agent-openai==0.4.2
altair==5.5.0
google-auth==2.37.0
beautifulsoup4==4.12.3
uvloop==0.21.0
aiohappyeyeballs==2.4.4
platformdirs==4.3.6
ndjson==0.3.1
ipykernel==6.29.5
ffmpy==0.5.0
posthog==3.7.4
frozendict==2.4.6
setproctitle==1.3.4
annotated-types==0.7.0
certifi==2024.12.14
httplib2==0.22.0
wsproto==1.2.0
PyPDF2==3.0.1
mmh3==5.0.1
debugpy==1.8.11
streamlit==1.41.1
PyPika==0.48.9
gptcache==0.1.44
pysbd==0.3.4
six==1.17.0
Pygments==2.18.0
unstructured-client==0.25.9
opentelemetry-exporter-otlp-proto-http==1.29.0
langsmith==0.1.147
streamlit-toggle-switch==1.0.2
requests-oauthlib==2.0.0
streamlit-keyup==0.2.4
greenlet==3.1.1
safehttpx==0.1.6
durationpy==0.9
validators==0.34.0
ruff==0.9.3
tabulate==0.9.0
qdrant-client==1.12.2
websocket-client==1.8.0
primp==0.9.3
